body > footer .copyright {
  float: right;
}

article {
  display: block;
}

body > footer a {
  color: #ccc;
  font-weight: bold;
  text-decoration: none;
}

body > footer {
  position: fixed;
  bottom: 0;
  left: 5%;
  width: 90%;
  color: #ccc;
  background: #fff;
  font-size: .8em;
}

.box .links {
  font-size: 0.4em;
}

body {
  color: #444444;
  font-family: helvetica, verdana, arial;
}

select, input, form span, button {
  font-size: 1.2em;
}

option {
  padding: 0 10px;
}

input[type="number"] {
  text-align: right;
}

form, .box {
  margin: 50px auto;
  padding: 0 15px;
  text-align: left;
  width: 90%;
}

.box {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  font-size: 1.4em;
  text-align: center;
  width: 60%;
}

.box article {
  padding: 0.5em 0 1em 0;
  border-bottom: 1px solid black;
  margin-bottom: -1px;
}

.result {
  background-color: #F0FFF0;
  border: 3px solid #99DD99;
}
.result article
{
  border-color: #99DD99;
}

.error {
  background-color: #FFF0F0;
  border: 3px solid #DD9999;
}

.error article {
  border-color: #DD9999;
}

.info {
  background-color: #F0F0FF;
  border: 3px solid #9999DD;
}

.info article {
  border-color: #9999DD;
}

.target-value {
  font-weight: bold;
}

.hidden {
  display:none;
}
